@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --color1: rgba(255, 255, 255, 0.881);
  --color2: #191919;
  --color3: #4e57e4;
  --color4: #000000;
}

* {
  margin: 0;
  padding: 5px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
p {
  font-size: 0.8rem;
}
li {
  list-style: none;
}

body {
  min-height: 100vh;
  background: var(--color2);
  color: var(--color1);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
nav ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.header-left {
  width: 50%;
}
.header-left h1 {
  font-size: 5rem;
}
.header-left h3 {
  font-size: 1.8rem;
  color: var(--color3);
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
}

.infos {
  background: var(--color4);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.infos-left {
  width: 33%;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  margin: 5px;
  border: none;
  background: var(--color3);
  color: var(--color1);
  font-weight: bold;
  border-radius: 10px;
  width: 150px;
  letter-spacing: 1px;
}
.infos-right {
  width: 67%;
}
.investors {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-container img {
  height: 60px;
}
